body{
font-family:Arial;
margin:0;
padding:0;
}

header{
background:#0077ff;
color:white;
text-align:center;
padding:50px;
}

.btn{
background:white;
color:#0077ff;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
}

section{
padding:30px;
}

.gallery{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.gallery img{
width:300px;
transition:0.4s;
cursor:pointer;
}

.gallery img:hover{
transform:scale(1.1);
}

footer{
background:#333;
color:white;
text-align:center;
padding:15px;
}

@media(max-width:768px){

header{
padding:30px;
}

.gallery img{
width:90%;
}

}